.card img {
  width: 50%;
  height: 9rem;
  top: -23%;
  left: 55%;
}

.card {
  transition: transform 0.3s ease-in-out;
}



.grass {
    background: #7AC74C !important;
}
.fire{
    background-color: #EE8130;
}
.water{
    background-color: #6390F0;
}
.bug{
    background-color: #A6B91A;
}
.normal{
    background-color: #A8A77A;
}
.poison{
    background-color: #A33EA1;
}
.electric{
    background-color: #F7D02C;
}
.ground{
    background-color: #E2BF65;
}
.fairy{
    background-color: #D685AD;
}
.flying{
    background-color: #A98FF3;
}
.fighting{
    background-color: #C22E28;
}
.psychic{
    background-color: #F95587;
}
.rock{
    background-color: #B6A136;
}
.ghost{
    background-color: #735797;
}
.ice{
    background-color: #96D9D6;
}
.dragon{
    background-color: #6F35FC;
}
.dark{
    background-color: #705746;
}
.steel{
    background-color: #B7B7CE;
}

